/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html * {
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

body, html {
  /* prevent horizontal scrolling */
  overflow-x: hidden;
}

/* --------------------------------

Main Components

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #FFB300;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /*-webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);*/
}

.section-open main {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.content {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFB300;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s;
}
.content .wrapper {
  /* all main content */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /*-webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);*/
}
.section-open .content {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.section-open .content .wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /*-webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);*/
}

@media only screen and (min-width: 1170px) {
  .content .wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
}

.no-js main {
  height: auto;
  overflow: visible;
}

.no-js .content {
  position: static;
  visibility: visible;
}
.no-js .content .wrapper {
  height: auto;
  overflow: visible;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

* {transition: all 0.5s ease;}
body {background-color: #FFB300; font-family: 'Montserrat', sans-serif; font-weight: 900;}
body.section-open main {overflow: visible;}
body.section-open main::before {opacity: 0.4;}
h1, h2, h3, h4, h5, h6 {font-weight: inherit;}
main.container {width: 100%; height: 100%; max-width: initial; position: absolute; display: flex; justify-content: center; align-items: center; z-index: 3; overflow: hidden;}
main::before {opacity: 1;content: "";pointer-events:none;width: 100%;height: 100%;position: absolute;top: 0;left: 0;transition: all 0.3s;}
main.container .left {opacity: 1; width: 100%; /*top: 50%; transform: translateY(-50%);*/}
main.container .left .menu li {animation: fadeInLeft 0.5s ease 1 normal;}
main.container .left .logo {animation: fadeInDown 0.5s ease 1 normal;}
.logo {text-indent: -9999px; height: 100px; background-image: url(/img/logo.svg); background-repeat: no-repeat; background-position: center; background-size: 75px; background-color: transparent; z-index: 1; border-radius: 100px;}
.right, body.section-open .right {display: none;}
.right .work, .right .about, .right .contact {width: 30%;height: 100%;position: absolute;top: 0;right: 0; opacity: 0; background-repeat: no-repeat; background-position: right center; background-size: contain;transform: translate(100%, 0);}
.right .work {background-image: url('/img/book.svg');}
.right .about {background-image: url('/img/user.svg');}
.right .contact {background-image: url('/img/envelope.svg');}
.right .work.active, .right .about.active, .right .contact.active {opacity: 1; transform: translate(-30%, 0);}

.topmenu {text-align: center;}
body.section-open .topmenu {animation: fadeInDownBig 1s;}
.topmenu li {display: inline;}
.topmenu a {margin: 5px; color: #000; font-size: 14px; opacity: 0.2; text-transform: lowercase; border-bottom: 3px solid transparent;}
.topmenu a:hover {opacity: 1;}
.topmenu a.active {opacity: 1; border-bottom: 3px solid #000;}

.menu {text-align: center; background-color: transparent; height: auto; box-shadow: none; color: #000;}
.menu li {float: none;}
.menu a {display: block; color:#000; text-decoration: none; text-transform: lowercase; font-size: 10vw; line-height: inherit; padding: 1vh 0; transition: none;}
.menu a:before {background: #000;}
.menu a:hover {background-color: transparent; color: #FFB300; /*animation: animatedBackground 0.3s ease 0s 1 normal both, textColorChange 0s linear 0s 1 normal both;*/}
.menu span {display: block;font-size: 4rem;}
.menu span.lnr {padding-left: 5px;}
.lnr-envelope {margin-top: -15px;}

/* @keyframes animatedBackground {
0% {background-image: linear-gradient(to right, transparent 0%, transparent 100%); background-repeat: no-repeat; background-position: 100% 0;}
100% {background-image: linear-gradient(to right, #000 0%, #000 100%); background-repeat: no-repeat; background-position: 0 0;}
}
@keyframes textColorChange {
0% {color: #000;}
100% {color: #FFB300;}
} */

.topbar, .topbar .title {display: none;}
body.work .topbar .title,
body.about .topbar .title {display: inline;}
body.section-open .topbar {transform: translateY(0%); opacity: 0.98; visibility: visible; transition-delay: 0.5s;}
body.section-open .topbar .back-button {animation: fadeInLeftBig 1s;}
body.section-open .topbar .title {animation: fadeInDownBig 1s;}
body.section-open .topbar .logo {animation: fadeInRightBig 1s;}
.topbar {transform: translateY(-100%); transition: all 0.4s; z-index: 2; width: 100%; position: fixed; display: flex; align-items: center; justify-content: space-between; background: #FFB300; opacity: 0; visibility: hidden;}
.topbar .title {font-size: 24px;}
.topbar .logo {position: initial; width: 35px; height: 35px; background-size: 35px; background-position: center; margin: 10px;}
.topbar .back-button {font-size: 3rem; cursor: pointer; padding: 5px;}
.topbar .back-button:hover {transform: scale(1.15); transition: all 0.1s;}

#work, #about, #contact {transition: none;}
#work {padding-bottom: 90px;}
#work .container {padding-top: 60px;}
/* #work .container > * {transition: none;} */
#work .container a {opacity: 0; transition: opacity 300ms; transform: scale(1.2); background-size: cover;}
#work .container a.show:hover {transform: scale(1.05); transition: transform 100ms;}
#work .container a.show {opacity: 1; transform: scale(1);}

#about .container, #contact .container {padding-top: 60px;}

#contact p {font-weight: 300;}
#contact p a {font-size: x-large;}
#contact .card-panel {padding: 40px; border-radius: 5px;}
#contact .antispam {display: none;}
#about .collection {font-weight: normal;}
#contact p, #contact form, #about .collection {font-family: 'Roboto', sans-serif;}
#contact h1 {margin: 0; font-size: 3.5rem; font-weight: 900;}
#contact form button {width: 100%;}
#contact form input, #contact form textarea {font-size: 16px;}

body.about #about h4,
body.about #about .section,
body.about #about .collection,
body.contact #contact .card-panel {animation: fadeInUp 1s ease 1 normal;}

#about .profile {display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
/*#about .profile h3 {font-size: 5vh;}*/
#about .profile img {max-width: 75%;}
#about .section {padding-top: 0;}
#about .collection h1, #about .collection h2, #about .collection h3, #about .collection h4, #about .collection h5, #about .collection h6 {font-weight: 400;}
#about .collection .row {margin-bottom: 0;}
#about .badge {margin: 0; height: auto;}
#about .chip {font-size: 12px; font-weight: normal; margin: 5px 0 0 0; padding: 0 8px; height: 20px; line-height: 20px;}

/*
----------------------------------------------------------------------
Filter Bar - Short, Centered, with Material Design Icons (Old)
----------------------------------------------------------------------
.filterbar {position: sticky; top: 55px; left: 0; right: 0; z-index: 1041; width: 100%; background: #FFB300; padding: 20px 0; opacity: 0.98;}
.filterbar ul {margin: 6px auto; display: flex; align-items: center; justify-content: space-around; max-width: 300px; background: #eba500; border-radius: 5px;}
.filterbar li {opacity: 0.15; cursor: pointer; width: 100%; padding: 10px;}
.filterbar li:first-child {border-radius: 5px 0 0 5px;}
.filterbar li:last-child {border-radius: 0 5px 5px 0}
.filterbar li.active, .filterbar li:hover {opacity: 1; background: #cf9100;}
.filterbar a {background: none; border: 0; width: 100%;}
.filterbar span {font-family: 'Roboto', sans-serif; font-weight: 800; text-transform: uppercase; font-size: 8px; letter-spacing: 1px;}
.filterbar li.active a, .filterbar li.active span {color: #000;}
.filterbar a, .filterbar span {display: grid; padding: 1px; margin: auto; color: #000; transition: none;}
.filterbar i {font-size: 30px;}
.filterbar i:hover {transform: scale(1.1); animation: scale 0.1s;}
----------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------
Filter Bar - Long, Centered, Text Only, No Icons (New)
----------------------------------------------------------------------
*/

.filterbar {position: sticky; top: 20px; left: 0; right: 0; z-index: 1041; background: #F5F5F5; opacity: 0.98;}
.filterbar a {background: none; border: 0; width: 100%; display: block;}
.filterbar i {display:none;}
.filterbar span {text-transform: uppercase; font-size: 12px; font-weight: 700; color: #000;}
.filterbar li {border: 1px solid #CCC; border-radius: 5px; margin-bottom: 10px; padding: 4px;}
.filterbar li.active, .filterbar li.active:hover {opacity: 1; background: #0069B5;}
.filterbar li:hover {opacity: 1; background: #B5CBD6;}
.filterbar li.active a, .filterbar li.active span {color: #FFFFFF;}
.filterbar li.active:hover a, .filterbar li.active:hover span {color: #FFFFFF;}



/* Magnific Popup Close Button
---------------------------------------------------------------------- */

.mfp-close {
/*
background: #FFF !important;
color: #333 !important;
*-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
font-size: 48px;
*/
padding: 0 !important;
width: 44px !important;
position: fixed !important;
top: 20px !important;
right: 20px !important;
color: #FFF !important;
font-size: 64px !important;
font-weight: normal !important;
font-family: initial !important;
text-shadow: 0 0 5px rgba(0,0,0,0.6) !important;
text-align: center !important;
}

/* Magnific Popup Fade Animation
---------------------------------------------------------------------- */
/* overlay at start */
.mfp-fade.mfp-bg {opacity: 0; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {opacity: 0.9;}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {opacity: 0;}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {opacity: 0; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {opacity: 1;}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {opacity: 0;}


/* overlay at start */
.mfp-fade2.mfp-bg {opacity: 0.9;}
/* overlay animate in */
.mfp-fade2.mfp-bg.mfp-ready {opacity: 0.9;}
/* overlay animate out */
.mfp-fade2.mfp-bg.mfp-removing {opacity: 0;}
/* content at start */
.mfp-fade2.mfp-wrap .mfp-content {opacity: 0; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
/* content animate it */
.mfp-fade2.mfp-wrap.mfp-ready .mfp-content {opacity: 1;}
/* content animate out */
.mfp-fade2.mfp-wrap.mfp-removing .mfp-content {opacity: 0;}



/* Magnific Popup Misc
---------------------------------------------------------------------- */
.mfp-figure:after {box-shadow: none; background: none;}
.mfp-wrap {-webkit-overflow-scrolling: touch;}
.image-overlay {position: relative; width: auto; margin: auto; text-align: center;}
img.mfp-img, .image-overlay img {padding: 10px; max-width: 100%;}

.white-popup {position: relative; background: #FFF; padding: 20px; width: auto; max-width: 500px; margin: 20px auto; text-align: center;}
#popup {visibility: hidden;}

.spinner-overlay.mfp-bg {display: none; opacity: 0;}
.spinner-overlay.bgFadeIn {opacity: 0.9; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.spinner-overlay .sk-three-bounce {/*font-size: 26px;*/ position: relative; top: 50%; margin: auto;}
.spinner-overlay .sk-three-bounce .sk-child {background-color: #fff;}

/* MixItUp - Float-based Grid
---------------------------------------------------------------------- */
#work .container {/*padding: 1rem .5rem;*/ overflow: hidden;}
.mix {width: 100%; float: left; margin: 0 .5rem 1rem; background: #fff; border-radius: 2px; position: relative;}
.mix:before {content: ''; display: inline-block; padding-top: 56.25%;}
/* Grid Breakpoints
---------------------------------------------------------------------- */
/* 2 Columns */
@media screen and (min-width: 320px) { .mix {width: calc(50% - 1rem);} }
/* 3 Columns */
@media screen and (min-width: 541px) { .mix {width: calc(100%/3 - 1rem);} }
/* 4 Columns */
@media screen and (min-width: 961px) { .mix, .gap {width: calc(100%/4 - 1rem);} }
/* 5 Columns */
@media screen and (min-width: 1281px) { .mix, .gap {width: calc(100%/5 - 1rem);} }



/* MixItUp - Inline-block Grid
---------------------------------------------------------------------- */
/* Container
---------------------------------------------------------------------- */
/*.container {/*padding: 1rem; text-align: justify; font-size: 0.1px;}*/
/*.container:after {content: ''; display: inline-block; width: 100%;}*/
/* Target Elements
---------------------------------------------------------------------- */
/*.mix, .gap {display: inline-block; vertical-align: top;}*/
/*.mix {background: #fff; border-radius: 2px; margin-bottom: 1rem; position: relative;}*/
/*.mix:before {content: ''; display: inline-block; padding-top: 56.25%;}*/
/* Grid Breakpoints
---------------------------------------------------------------------- */
/* 2 Columns */
/*.mix, .gap {width: calc(100%/2 - (((2 - 1) * 1rem) / 2));}*/
/* 3 Columns */
/*@media screen and (min-width: 541px) { .mix, .gap {width: calc(100%/3 - (((3 - 1) * 1rem) / 3));} }*/
/* 4 Columns */
/*@media screen and (min-width: 961px) { .mix, .gap {width: calc(100%/4 - (((4 - 1) * 1rem) / 4));} }*/
/* 5 Columns */
/*@media screen and (min-width: 1281px) { .mix, .gap { width: calc(100%/5 - (((5 - 1) * 1rem) / 5));} }*/



/* Contact Form Colors */
/* =================== */
/* labels */
.input-field label {color: #9e9e9e;}
/* input fields */
.input-field input[type=text],
.input-field input[type=email],
textarea.materialize-textarea {color: #000; border-bottom: 1px solid #9e9e9e; box-shadow: none;}
/* input fields + labels */
input[type=text]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {color: #9e9e9e; box-shadow: none;}
/* input fields on focus */
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {color: #000; border-bottom: 1px solid #000; box-shadow: none;}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid,
textarea.materialize-textarea.valid {color: #4CAF50; border-bottom: 1px solid #4CAF50; box-shadow: none;}
/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
textarea.materialize-textarea.invalid {color: #F44336; border-bottom: 1px solid #F44336; box-shadow: none;}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,  input[type=email]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {color: #000;}


@media only screen and (min-width: 480px) {
.menu a {padding: 5px 30px; font-size: 8vw; line-height: 6vw;}
.menu span {padding: 0 20px 10px 0;}
.menu span, .menu .text {display: inline; vertical-align: middle;}
.topmenu a {margin: 10px; font-size: 18px;}
.lnr-envelope {margin:0;}
}

@media only screen and (min-width: 1280px) {
.logo {position: absolute; top: 20px; left: 20px; width: 100px; background-size: 90px; background-position: center;}
main.container .left {position: absolute; top: 0; bottom: 0; left: 0; width: 50%; height: 100%; box-shadow: -40px 0px 100px #000;}
.right {display: block;}
.menu {text-align: right;position: absolute; right: 0; bottom: 60px; width: 100%;}
.menu a {padding: 8px 50px 18px 0;}
.menu span {display: none;}
#contact .container {width: 55%}
}

@media only screen and (min-width: 600px) {
#about .profile img {max-width: 100%;}
}
