.wrapper {
  -webkit-transition: -webkit-transform 0.4s;
          transition: transform 0.4s;
}
.wrapper.has-work,
.wrapper.has-about,
.wrapper.has-contact {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.content-overlay {
  position: fixed;
  z-index: 200;
  background-color: #FFB300;
  -webkit-transition: -webkit-transform 0.4s;
          transition: transform 0.4s;
}

.content-overlay--work,
.content-overlay--about,
.content-overlay--contact {
  width: 100%;
  height: 100%;
  display: block;
  /*display: flex;*/
  overflow-y: scroll;
  overflow-x: hidden;
  /*top: 0;
  right: 0;*/
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  /*align-items: center;
  justify-content: center;*/
}

.content-overlay--work.is-active,
.content-overlay--about.is-active,
.content-overlay--contact.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/*.content-overlay-close {
  width: 70px;
	height: 70px;
	position: absolute;
	left: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	cursor: pointer;
	background: url(back.svg) no-repeat center center;
	background-size: contain;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}*/

.content-overlay-close:hover {
	transform: scale(1.2, 1.2);
}

.content-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.4s, width 0s 0.4s, height 0s 0.4s;
          transition: opacity 0.4s, width 0s 0.4s, height 0s 0.4s;
}

.content-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}
